    body{
            text-align : center;
    }
	.weather{
        position : relative;
        font-family: "Playfair Display";
		font-style: italic;
        font-weight: normal;
        line-height: 0px;
	}
	.title{
		font-size: 30px;
		line-height: 40px;
		color : #000000;
	}
	#temperature{
        font-size : 25px;
    }
    #city{
        font-size :23px;
    }
	.max-small{
		width : auto;
		height : auto;
		max-width: 440px;
		max-height: 440px;
	}
	.clothes{
        display: flex;
        justify-content: center;
        align-items: center;
    }